@{
    ViewBag.Title = "Court Reporting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Scripts/qqr.services.js")    
}

@section Navigation
{
    @Html.Partial("_Navigation", "Services")
}

<section class="main interior">
    <div class="container">
        <div class="sixteen columns">
            <h2>Court Reporting</h2>
            <p>
                Paragraph 1
            </p>
            <p>Paragraph 2</p>

            <div id="accordion">
                <h3>Depositions</h3>
                <div>
                    <p>Content Goes Here</p>
                </div>
                <h3>Trials</h3>
                <div>
                    <p>Content Goes Here</p>
                </div>
                <h3>Hearings</h3>
                <div>
                    <p>Content Goes Here</p>
                </div>
                <h3>Arbitrations</h3>
                <div>
                    <p>Content Goes Here</p>
                </div>
                <h3>City Council Meetings</h3>
                <div>
                    <p>Content Goes Here</p>
                </div>
                <h3>Expert Testimony</h3>
                <div>
                    <p>Content Goes Here</p>
                </div>
                <h3>Independent medical examinations (IME)</h3>
                <div>
                    <p>Content Goes Here</p>
                </div>
                <h3>Examinations under oath</h3>
                <div>
                    <p>Content Goes Here</p>
                </div>
                <h3>Statements on the record</h3>
                <div>
                    <p>Content Goes Here</p>
                </div>
                <h3>Depositions</h3>
                <div>
                    <p>Prison inmate depositions</p>
                </div>
            </div>
        </div>
    </div>
</section>

