@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navigation
{
    @Html.Partial("_Navigation", "Services")
}


<section class="main interior">
    <div class="container">
        <div class="sixteen columns">
            <h2>Comprehensive Services</h2>
            <p>
                Since its inception in 1992, Quinn’s Reporting has earned an unparalleled reputation
                for excellence in court reporting.  Our experienced staff is available
                to assist with last-minute deposition scheduling or changes and any post-deposition details.
            </p>
            <p>We have the ability to provide all of your litigation needs from court reporters, videographers, interpreters, subpoena service and exhibit management.</p>
        </div>

        <div class="one-third column">
            <h5>Our Services Include: </h5>
            <ul>
                <li><a href="~/Services/CourtReporting">Court Reporting and Interpreting Services</a></li>
                <li><a href="#">Transcript Management</a></li>
                <li><a href="#">Videograph Procurement</a></li>
                <li><a href="#">Interpreter Procurement</a></li>
            </ul>
        </div>
            @*<div class="one-third column">
                <h5>Court Reporting and Interpreting Services</h5>
                <ul>
                    <li>Depositions</li>
                    <li>Trials</li>
                    <li>Hearings</li>
                    <li>Arbitrations</li>
                    <li>City Council Meetings</li>
                    <li>Expert Testimony</li>
                    <li>Independent medical examinations (IME)</li>
                    <li>Examinations under oath</li>
                    <li>Statements on the record</li>
                    <li>Prison inmate depositions</li>
                </ul>

            </div>

            <div class="one-third column">
                <h5>Transcript Management</h5>
                <ul>
                    <li>E-transcript Files</li>
                    <li>Daily Transcripts</li>
                    <li>Expedited Transcripts</li>
                    <li>Same-day rough draft</li>
                    <li>Electronically archived transcripts</li>
                    <li>Email transcripts</li>
                    <li>Condensed transcripts</li>
                    <li>Keyword indexing</li>
                    <li>ASCII (Disk/CD)</li>
                    <li>Rough Draft ASCII</li>
                </ul>
            </div>

            <div class="one-third column">
                <h5>Videograph Procurement</h5>
                <p>We arrange for videographed depositions at no extra charge.</p>
                <h5>Interpreter Procurement</h5>
                <p>We arrange for interpreted depositions at no extra charge.</p>
            </div>*@

        </div>

</section>
