@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadInfo
{
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="omaha, nebraska, court, reporting, court reporting, dictation, litigiation, transcripts" />
    <meta name="description" content="Court Reporters, Legal Videographers and Trial Services" />
    <meta name="author" content="SmartLight, INC. - Omaha, Nebraska" />
    <title>Quinns Reporting - Court Reporters, Legal Videos, and Trial Services - Omaha Nebraska</title>   
}

@section Navigation
{
    @Html.Partial("_Navigation", "Home")
}

<section class="main-hero">
    <div class="container">
        <div class="sixteen columns">
            <div class="announcement">
                <p>
                    <b>VALUED CLIENTS</b>:  We have solutions to help you keep up with your deposition workload during these trying times.  Please contact us for further information at <a href="mailto:vickie@quinnsreporting.com">vickie@quinnsreporting.com</a> or call us directly at 402-895-5066
                </p>
            </div>
            <div class="hero-image">
                <div class="hero-text">                    
                    <p>
                        At QQR, we pride ourselves on
                        <br>
                        our dedication and accuracy.
                        <br>
                        We strive to fulfill the requests
                        <br>
                        and needs of our clients.
                    </p>
                    <a href="~/Home/ScheduleDepo" class="large button">SCHEDULE A DEPO NOW!</a>
                    <p class="contact-text">
                        For prompt, friendly service,  <a href="~/Home/ContactUs">contact us</a>
                        <br />
                        today to schedule your next deposition,
                        <br />
                        hearing, statement or any one of our
                        <br />
                        many services.
                    </p>
                </div>
            </div>
            <div class="hero-image-shadow"></div>
        </div>
    </div>
</section>
<section class="main">
    <div class="container">
        <div class="ten columns">
            <h2>Professional Dictation</h2>
            <h3>Taking your record with quality and accuracy since 1992</h3>
            <p>
                Quinn’s Reporting is Nebraska’s premier freelance court reporting agency.   We offer our clients personalized court reporting services and video depositions throughout Omaha, Lincoln, Grand Island, Norfolk, Fremont, Council Bluffs, Iowa , and surrounding  areas.
            </p>

            <p>Our philosophy is complete client satisfaction.  Everything we do begins and ends with the client.  Our commitment is to provide consistent quality service in a timely manner.  Our reward is long-standing relationships as the firm of choice for all aspects of litigation support.</p>
            <p>Our highly skilled reporters are dedicated to quality, accuracy and timeliness.   Our reporters are seasoned veterans at capturing the spoken word in complex, technical cases.  We are one of the Cornhusker State’s most well-known and well-respected court reporting firms.</p>

            <p>We encourage you to explore our website or contact us to find out how we can help you meet your court reporting needs today.</p>
        </div>
        <aside class="six columns">
            <div class="home-aside">
                <h2>Services</h2>
                <ul>
                    <li>Online Transcript Review</li>
                    <li>Litigation support package (ptx, txt, pdf)</li>
                    <li>E-transcripts</li>
                    <li>Online delivery of final transcript</li>
                    <li>Scanning of exhibits</li>
                    <li>Realtime</li>
                    <li><a href="/Home/Services">More Services...</a></li>
                </ul>                
            </div>
        </aside>
    </div>
</section>
