<footer>
    <div class="container">
        <div class="sixteen columns">
            <p>&copy; Copyright Quinn’s Reporting, Ltd. @DateTime.Now.Year. All rights reserved.</p>
            <!--<a href="/">Policy</a> <span class="pipe">|</span> <a href="/">Terms of Service</a>-->
        </div>
    </div>
</footer>
