@model string
<nav id="nav" class="site-nav">
    <ul>
        @switch (Model)
        {
            case "Home":                    
            <li><a class="active first-child" href="/">Home</a></li>
            <li><a href="~/Home/Services">Services</a></li>
            <li><a href="~/Home/ScheduleDepo">Schedule Depo</a></li>
            <li><a class="last-child" href="~/Home/ContactUs">Contact Us</a></li>
                break;
            case "Services":
            <li><a class="first-child" href="/">Home</a></li>
            <li><a class="active" href="~/Home/Services">Services</a></li>
            <li><a href="~/Home/ScheduleDepo">Schedule Depo</a></li>
            <li><a class="last-child" href="~/Home/ContactUs">Contact Us</a></li>
                break;            
            case "ScheduleDepo":
            <li><a class="first-child" href="/">Home</a></li>
            <li><a href="~/Home/Services">Services</a></li>
            <li><a class="active" href="~/Home/ScheduleDepo">Schedule Depo</a></li>
            <li><a class="last-child" href="~/Home/ContactUs">Contact Us</a></li>
                break;
            case "ContactUs":
            <li><a class="first-child" href="/">Home</a></li>
            <li><a href="~/Home/Services">Services</a></li>      
            <li><a href="~/Home/ScheduleDepo">Schedule Depo</a></li>
            <li><a class="active last-child" href="~/Home/ContactUs">Contact Us</a></li>
                break;
            default:
            <li><a class="first-child" href="/">Home</a></li>
            <li><a href="~/Home/Services">Services</a></li>   
            <li><a href="~/Home/ScheduleDepo">Schedule Depo</a></li>
            <li><a class="last-child" href="~/Home/ContactUs">Contact Us</a></li>
                break;
        }
    </ul>
</nav>
